{% extends "layout_ma2.html" %}









{% block content %}

{{ govukBackLink({
    text: "Back",
    href: "empfeedback6"
  }) }}

<br><br><br>
<h1 class="govuk-heading-l">How could South & City College improve?</h1>
<br>

<form action="empfeedback8" method="post"  class="form">
  <div class="govuk-form-group">
    <fieldset class="govuk-fieldset" aria-describedby="waste-hint">
      <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
        <h2 class="govuk-fieldset__heading">
         Does South & City College need to improve any of these?
        </h2>
      </legend>
      <div id="waste-hint" class="govuk-hint">
        It's optional. You can select up to 3.
      </div>
      <div class="govuk-checkboxes" data-module="govuk-checkboxes">
        <div class="govuk-checkboxes__item">
          <input class="govuk-checkboxes__input" id="weak4-com" name="weak4" type="checkbox" value="Getting new apprentices started" {{ checked("weak4", "Getting new apprentices started") }}>
          <label class="govuk-label govuk-checkboxes__label" for="weak4-com">
              Getting new apprentices started
            </label>
          </div>
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="weak5-com" name="weak5" type="checkbox" value="Working with small number of apprentices" {{ checked("weak5", "Working with small number of apprentices") }}>
            <label class="govuk-label govuk-checkboxes__label" for="weak5-com">
              Working with small number of apprentices
            </label>
          </div>
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="weak6-com" name="weak6" type="checkbox" value="Providing the right training at the right time" {{ checked("weak6", "Providing the right training at the right time") }}>
            <label class="govuk-label govuk-checkboxes__label" for="weak6-com">
              Providing the right training at the right time
            </label>
          </div>
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="weak7-com" name="weak7" type="checkbox" value="Training facilities" {{ checked("weak7", "Training facilities") }}>
            <label class="govuk-label govuk-checkboxes__label" for="weak7-com">
              Training facilities
            </label>
          </div>
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="weak8-com" name="weak8" type="checkbox" value="Reporting on progress of apprentices" {{ checked("weak8", "Reporting on progress of apprentices") }}>
            <label class="govuk-label govuk-checkboxes__label" for="weak8-com">
              Reporting on progress of apprentices
            </label>
          </div>
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="weak9-com" name="weak9" type="checkbox" value="Improving apprentice skills" {{ checked("weak9", "Improving apprentice skills") }}>
            <label class="govuk-label govuk-checkboxes__label" for="weak9-com">
              Improving apprentice skills
            </label>
          </div>
      </div>
  
    </fieldset>
  </div>



  <div class="govuk-button-group">
    {{ govukButton({
      text: "Continue"
    }) }}
  </div>

</form>

{% endblock %}
