{% extends "layout_ma2.html" %}









{% block content %}

{{ govukBackLink({
    text: "Back",
    href: "empfeedback8"
  }) }}



  <div class="govuk-width-container">

  
    <main class="govuk-main-wrapper " id="main-content" role="main">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds-from-desktop">
  
            <form action="empfeedback10" method="post" class="form">
          <h1 class="govuk-heading-l">Check your answers</h1>
  
          <h2 class="govuk-heading-m">Training provider: South & City College</h2>
  
          <dl class="govuk-summary-list govuk-!-margin-bottom-9">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
               Strengths
              </dt>
              <dd class="govuk-summary-list__value" style="white-space: inherit;">
               
                {{ data['strength1'] }}<br>
               
               {{ data['strength2'] }}<br>
               
               {{ data['strength3'] }}<br>
               
               {{ data['strength4'] }}
               
               {{ data['strength5'] }}
               
               {{ data['strength6'] }}
               
               {{ data['strength7'] }}
               
               {{ data['strength8'] }}
               
               {{ data['strength9'] }}
               
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link--no-visited-state" href="empfeedback6.html">
                  Change<span class="govuk-visually-hidden"> name</span>
                </a>
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Areas to improve
              </dt>
              <dd class="govuk-summary-list__value">
                {{ data['weak4'] }}
               
                {{ data['weak5'] }}<br>
                
                {{ data['weak6'] }}
                
                {{ data['weak7'] }}
                
                {{ data['weak8'] }}
                
                {{ data['weak9'] }}
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link--no-visited-state" href="empfeedback7.html">
                  Change<span class="govuk-visually-hidden"> date of birth</span>
                </a>
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Overall rating
              </dt>
              <dd class="govuk-summary-list__value">
                {{ data['rating'] }}
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link--no-visited-state" href="empfeedback8.html">
                  Change<span class="govuk-visually-hidden"> address</span>
                </a>
              </dd>
            </div>
           
          </dl>
  
  
          
  
          <p class="govuk-body">Your answers will be published anonymously on the <a class="govuk-link--no-visited-state" href="https://findapprenticeshiptraining.apprenticeships.education.gov.uk/">Find apprenticeship training (opens in a new tab)</a> in the near future.</p>
  
      
  
            <input type="hidden" name="answers-checked" value="true">
  
            <button class="govuk-button" data-module="govuk-button">
              Submit
            </button>
  
          </form>
  
        </div>
      </div>
    </main>
  </div>


{% endblock %}
