{% extends "layout_cmadexit.html" %}




{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "exit3"
  }) }}
{% endblock %}


{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">


<form action="exit5" method="post"  class="form">




  {% from "govuk/components/radios/macro.njk" import govukRadios %}

  {{ govukRadios({
    idPrefix: "circumstances",
    name: "circumstances",
    fieldset: {
      legend: {
        text: "Did any of the following factors contribute to you not completing your apprenticeship?",
        isPageHeading: true,
        classes: "govuk-fieldset__legend--l"
      }
    },

    hint: {
      text: "Please select one answer that is most relevant to you."
    },


    items: [

    

    {
        value: "Caring responsibilities",
        text: "Caring responsibilities"
    },
    

      {
          value: "Family or relationship issues",
          text: "Family or relationship issues"
      },
      {
        value: "Mental health",
        text: "Mental health"
      },

      {
          value: "Physical health issues",
          text: "Physical health issues"
      },
      {
        value: "None of the above",
        text: "None of the above"
    },
      {
        divider: "or"
      },
      {
          value: "Prefer not to say",
          text: "Prefer not to say"
      }


    ]
  }) }}






  <div class="govuk-button-group">
    {{ govukButton({
      text: "Continue"
    }) }}
  </div>

</form>
</div>
</div>
{% endblock %}