<div class="navigation landing-page">

    <!-- DETAILS - START -->
    <div class="apprentice-details">
         <div class="govuk-width-container">
              <div class="govuk-grid-row">
                   <div class="govuk-grid-column-two-thirds">
                        <p class="name">
                             Welcome, Joe Bloggs
                        </p>
                   </div>
                   <div class="govuk-grid-column-one-third">
                        <p>
                             <a href="#">Sign out</a>
                        </p>
                   </div>
              </div>
         </div>
    </div>
    <!-- DETAILS - END -->


    <div class="mobile">
      <div class="mobile-align">
        <div class="govuk-width-container">
          <!-- Mobile Menu - START -->
          <details class="govuk-details mobile-menu-act" data-module="govuk-details">
            <summary class="menu-drop">
              <span class="govuk-details__summary-text">
                Menu
              </span>
            </summary>
            <ul class="govuk-list mobile-menu-items">
                 <li><a href="/sprint-23/commitment-statement/dashboard/index" class="govuk-link link-one">Home</a></li>
                 <li><a href="/sprint-23/commitment-statement//dashboard/2-my-apprenticeships" class="govuk-link">Confirm my apprenticeship details</a></li>
                 <!-- <li><a href="#" class="govuk-link link-three">My progress</a></li>
                 <li><a href="#" class="govuk-link link-four">My training provider</a></li>
                 <li><a href="./5-my-employers" class="govuk-link link-five">My employers</a></li> -->
                 <li><a href="/sprint-6/commitment-statement/5-agreements/1-agreements" class="govuk-link nav-link link-six">Help and support</a></li>
                 <li><a href="/sprint-6/commitment-statement/sign-in/edit-account" class="govuk-link link-seven">My account</a></li>
            </ul>
          </details>
          </div>
      <!--  Mobile Menu - END -->
      </div>
   </div>


    <!-- NAVIGATION - START -->
    <div class="nav">
         <div class="govuk-width-container">


           <!-- Main Menu - START -->
           <ul class="govuk-list">
                <li><a href="/sprint-23/commitment-statement/dashboard/index" class="govuk-link link-one nav-link ">Home</a></li>
                <li><a href="/sprint-23/commitment-statement//dashboard/2-my-apprenticeships" class="govuk-link link-two nav-link">Confirm my apprenticeship details</a></li>
                <li><a href="/sprint-23/commitment-statement/5-agreements/1-agreements" class="govuk-link link-six nav-link">Help and support</a></li>
                <li><a href="/sprint-23/commitment-statement/sign-in/edit-account" class="govuk-link link-seven nav-link">My account</a></li>
           </ul>
           <!--  Mobile Menu - END -->

         </div>
    </div>
    <!-- NAVIGATION - END -->

</div>