{% extends "layout_cmad.html" %}
{% extends "layout_cmad.html" %}

{% from "govuk/components/back-link/macro.njk" import govukBackLink %}


{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "appfeedback2"
  }) }}
{% endblock %}

{% block content %}



<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form action="appfeedback2a" method="post" class="form">

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">
              Confirm your training provider
            </h1><br>
          </legend>
          <h2 class="govuk-heading-m">Which current training provider would you like to give feedback on?
          </h2>
          <div class="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="multiverse-provider" name="provider" type="radio" value="Multiverse LTD" {{ checked("provider", "multiverse-provider") }}>
              <label class="govuk-label govuk-radios__label" for="multiverse-provider">
               Multiverse LTD
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="south-provider" name="provider" type="radio" value="South and City College" {{ checked("rating", "south-provider") }}>
              <label class="govuk-label govuk-radios__label" for="outh-provider">
              South and City College
              </label>
            </div>
          </div>
        </fieldset>
      <br><br>

      <button class="govuk-button" data-module="govuk-button">Continue</button>

    </form>
</div>




  </div>
</div>






{% endblock %}
