//
// For guidance on how to add CSS and SCSS see:
// https://prototype-kit.service.gov.uk/docs/adding-css-javascript-and-images
// 

@import "patterns/navigation";
@import "patterns/landing-page";
@import "patterns/filter";
@import "patterns/dashboard";
@import "patterns/training-header";
@import "patterns/das-styles";

// Add extra styles here

a, a:visited, a:hover, a:active {
    color: #1d70b8;
  }
//Shortlist
@media (min-width: 641px){
    .shortlist-label,
    .opportunities-label {
        text-align: right;
    }
}
.view-shortlist {
    float:right;
    margin-top: -32px;
}
@media (min-width: 641px){
    .view-shortlist {
        margin-top: -37px;
    }
}
.view-shortlist-2 {
    float:none;
    margin-top: 20px;
}
@media (min-width: 641px){
    .view-shortlist-2 {
        text-align: right;
        margin-top: 10px;
    }
}
.view-shortlist-fixed {
    position: fixed;
    top: 0px;
    margin-left: -30px;
    padding: 0 30px;
    z-index: 100;
    display: block;
    background: white;
    border: 1px solid #b1b4b6;
    border-top: 0;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
}
.view-shortlist-fixed-2 {
    margin-left: -15px;
}
.view-shortlist-fixed-label {
    margin: 0;
    float: right;
    padding: 12px 0px;
}
.shortlist-count {
    border-radius: 50%;
    width: 21px;
    height: 20px;
    margin-left: 3px;
    padding-top: 2px;
    padding-left: 1px;
    font-size: 14px;
    display: inline-block;
    background: #1d70b8;
    color: white;
    text-align: center;
}
.back-to-top-fixed-label {
    margin: 0;
    float: left;
    padding: 12px 0px;
}
.view-shortlist--hidden {
    display: none;
}
// FAT Ratings
.outstanding-ofsted,
.excellent-employer {
    color: govuk-colour("green");
}
.good-ofsted,
.good-employer {
    color: govuk-colour("green");
}
.requires-imp-ofsted,
.poor-employer {
    color: govuk-colour("dark-grey");
}
.inadequate-ofsted,
.very-poor-employer {
    color: govuk-colour("dark-grey")
}
.star-svg {
    height: 15px;
    margin-right: 2px;
}
.star-svg-large {
    height: 22px;
    margin-right: 3px;
    margin-top: -8px;
    vertical-align: middle;
}

//FAT grey panel
.fat-panel {
    padding: 15px 15px 1px 15px;
}
@media (min-width: 641px){
    .fat-panel {
        padding: 20px 20px 1px 20px;
    }
}
.fat-panel-small {
    padding: 15px 15px 1px 15px;
}

.fat-panel-blocked {
    background: govuk-colour("light-grey");
}
.fat-panel-bordered {
    border: 1px solid $govuk-border-colour;
}

//FAT training options
li.fat-tick,
li.fat-cross {
    display: inline;
}
.fat-tick,
.fat-cross {
    padding-left: 21px;
    margin-right: 20px;
}
.fat-tick {
    background: url(/public/images/icon-green-tick.svg) 0 0 no-repeat;
    background-size: 16px 20px;
}
.fat-cross {
    color: $govuk-secondary-text-colour;
    background: url(/public/images/icon-red-cross.svg) 0 0 no-repeat;
    background-size: 12px 20px;
    padding-left: 18px;
}
// -2 is v6 onwards
li.fat-tick-2,
li.fat-cross-2 {
    display: inline;
}
.fat-tick-2,
.fat-cross-2 {
    padding-left: 22px;
}
.fat-tick-2 {
    background: url(/public/images/icon-green-tick-2.svg) 0 0 no-repeat;
    background-size: 16px 18px;
}
.fat-cross-2 {
    background: url(/public/images/icon-red-cross-2.svg) 0 0 no-repeat;
    background-size: 12px 18px;
    // padding-left: 19px;
}
// -3 is v8 onwards
li.fat-tick-3,
li.fat-cross-3 {
    display: block;
}
.fat-tick-3,
.fat-cross-3 {
    padding-left: 30px;
}
.fat-tick-3 {
    background: url(/public/images/icon-green-tick-2.svg) 0 0 no-repeat;
    background-size: 23px 22px;
}
.fat-cross-3 {
    background: url(/public/images/icon-red-cross-2.svg) 0 0 no-repeat;
    background-size: 18px 23px;
}
//mid dot
.middot {
    display: inline; 
    margin: 0 5px;
}
//FAT availaibility
.fat-availability.fat-tick,
.fat-availability.fat-tick-2 {
    color: govuk-colour("green");
}
.fat-availability.fat-cross,
.fat-availability.fat-cross-2 {
    color: govuk-colour("red");
}
@media (min-width: 641px){
    .fat-panel .fat-availability {
        padding-left: 30px;
    }
    .fat-panel .fat-availability.fat-tick,
    .fat-panel .fat-availability.fat-tick-2 {
        background-size: 23px 22px;
    }
    .fat-panel .fat-availability.fat-cross,
    .fat-panel .fat-availability.fat-cross-2 {
        background-size: 18px 23px;
    }
}

// FAT Ratings
.outstanding-ofsted,
.excellent-employer {
    color: govuk-colour("green");
}
.good-ofsted,
.good-employer {
    color: govuk-colour("green");
}
.requires-imp-ofsted,
.poor-employer {
    color: govuk-colour("dark-grey");
}
.inadequate-ofsted,
.very-poor-employer {
    color: govuk-colour("dark-grey")
}
.star-svg {
    height: 15px;
    margin-right: 2px;
}
.star-svg-large {
    height: 22px;
    margin-right: 3px;
    margin-top: -8px;
    vertical-align: middle;
}
//Rating graph
.graph-list li {
    display: table-row;
}
.graph-list li .label, 
.graph-list li .chart, 
.graph-list li .figure {
    display: table-cell;
    white-space: nowrap;
    vertical-align: middle;
    padding: 5px 0;
}
.graph-list li .chart {
    width: 100%;
}
.graph-list li .chart .graph {
    // border: 1px solid govuk-colour("dark-grey");
    border: 1px solid #778084;
    margin: 3px 10px;
}
.graph-list li .chart .bar, .graph-list li .chart .graph {
    display: block;
    height: 20px;
}
.graph-list li.level-1 .bar {
    background: govuk-colour("green");
}
.graph-list li.level-2 .bar {
    background: govuk-colour("green");
}
.graph-list li.level-3 .bar {
    // background: govuk-colour("mid-grey");
    background: #778084;
}
.graph-list li.level-4 .bar {
    // background: govuk-colour("dark-grey");
    background: #778084;
}