{% extends "layout_ma2.html" %}









{% block content %}

{{ govukBackLink({
    text: "Back",
    href: "empfeedback5"
  }) }}

<br><br><br>
<h1 class="govuk-heading-l">South & City College's strengths</h1>
<br>

<form action="empfeedback7" method="post"  class="form">
  <div class="govuk-form-group">
    <fieldset class="govuk-fieldset" aria-describedby="waste-hint">
      <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
        <h2 class="govuk-fieldset__heading">
          What is South & City College doing very well?
        </h2>
      </legend>
      <div id="waste-hint" class="govuk-hint">
        It's optional. You can select up to 3.
      </div>
      <div class="govuk-checkboxes" data-module="govuk-checkboxes">
        <div class="govuk-checkboxes__item">
          <input class="govuk-checkboxes__input" id="strength1-com" name="strength1" type="checkbox" value="Communication with employers" {{ checked("strength1", "Communication with employers") }}>
          <label class="govuk-label govuk-checkboxes__label" for="strength1-com">
           Communication with employers
          </label>
        </div>
        <div class="govuk-checkboxes__item">
          <input class="govuk-checkboxes__input" id="strength2-com" name="strength2" type="checkbox" value="Adapting to my needs" {{ checked("strength2", "Adapting to my needs") }}>
          <label class="govuk-label govuk-checkboxes__label" for="strength2-com">
           Adapting to my needs
          </label>
        </div>
        <div class="govuk-checkboxes__item">
          <input class="govuk-checkboxes__input" id="strength3-com" name="strength3" type="checkbox" value="Initial assessment of apprentices" {{ checked("strength3", "Initial assessment of apprentices") }}>
          <label class="govuk-label govuk-checkboxes__label" for="strength3-com">
           Initial assessment of apprentices
          </label>
        </div>
        <div class="govuk-checkboxes__item">
          <input class="govuk-checkboxes__input" id="strength4-com" name="strength4" type="checkbox" value="Getting new apprentices started" {{ checked("strength4", "Getting new apprentices started") }}>
          <label class="govuk-label govuk-checkboxes__label" for="strength4-com">
              Getting new apprentices started
            </label>
          </div>
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="strength5-com" name="strength5" type="checkbox" value="Working with small number of apprentices" {{ checked("strength5", "Working with small number of apprentices") }}>
            <label class="govuk-label govuk-checkboxes__label" for="strength5-com">
              Working with small number of apprentices
            </label>
          </div>
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="strength6-com" name="strength6" type="checkbox" value="Providing the right training at the right time" {{ checked("strength6", "Providing the right training at the right time") }}>
            <label class="govuk-label govuk-checkboxes__label" for="strength6-com">
              Providing the right training at the right time
            </label>
          </div>
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="strength7-com" name="strength7" type="checkbox" value="Training facilities" {{ checked("strength7", "Training facilities") }}>
            <label class="govuk-label govuk-checkboxes__label" for="strength7-com">
              Training facilities
            </label>
          </div>
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="strength8-com" name="strength8" type="checkbox" value="Reporting on progress of apprentices" {{ checked("strength8", "Reporting on progress of apprentices") }}>
            <label class="govuk-label govuk-checkboxes__label" for="strength8-com">
              Reporting on progress of apprentices
            </label>
          </div>
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="strength9-com" name="strength9" type="checkbox" value="Improving apprentice skills" {{ checked("strength9", "Improving apprentice skills") }}>
            <label class="govuk-label govuk-checkboxes__label" for="strength9-com">
              Improving apprentice skills
            </label>
          </div>
      </div>
      
  
    </fieldset>
  </div>



  <div class="govuk-button-group">
    {{ govukButton({
      text: "Continue"
    }) }}
  </div>

</form>

{% endblock %}
