{% extends "layout_cmad.html" %}



{% block content %}
<style>


.govuk-main-wrapper {
    display: block;
    margin-top:-20px;
}

</style>





<div class="govuk-width-container">
  <main class="govuk-main-wrapper govuk-main-wrapper--l" id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <div class="govuk-panel govuk-panel--confirmation">
          <h1 class="govuk-panel__title">
            Feedback complete
          </h1>
          
        </div>

        <p class="govuk-body">Thanks for your feedback. It'll help South and City College to continuously improve their training provision.</p>
        <p class="govuk-body">You rated South and City College as <b>{{ data['rating'] }}</b>. Your feedback will be published anonymously on <a class="govuk-link--no-visited-state" href="https://findapprenticeshiptraining.apprenticeships.education.gov.uk/">Find apprenticeship training (opens in a new tab)</a> when the minimum threshold has been reached.</p>
<br>
        <h2 class="govuk-heading-m">What do you want to do next?</h2>

        <p class="govuk-body">
          <a class="govuk-link--no-visited-state" href="myappdashboard.html">My apprenticeship dashboard</a>
       

      
      </div>
    </div>
  </main>
</div>
{% endblock %}
