<h2 class="govuk-heading-l">
    Sprint 50
</h2>

<p class="govuk-body"><a href="sprint-50/" class="govuk-link">View Sprint 50</a></p>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
         <h3 class="govuk-heading-m">
              Alpha
         </h3>

         
         {{ govukDetails({
              summaryText: "Sprint design goals",
              html: "<table class='govuk-table'>
                   <thead class='govuk-table__head'>
                        <tr class='govuk-table__row'>
                             <th scope='col' class='govuk-table__header'>What we're doing</th>
                             <th scope='col' class='govuk-table__header'>Why we're doing it</th>
                        </tr>
                   </thead>
                   <tbody class='govuk-table__body'>
                        <tr class='govuk-table__row'>
                             <td class='govuk-table__cell'>What we are doing</td>
                             <td class='govuk-table__cell'>Why we are doing it</td>
                        </tr>
                   </tbody>
              </table>"
         }) }}
        

         
    </div>
</div>
