{% extends "layout.html" %}

{% block pageTitle %}
Training providers for
Engineering technician (level 3) – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}
{% include "includes/header.html" %}
{% include "includes/employer-account-header.html" %}
{% endblock %}

{% block beforeContent %}
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      Prototype
    </strong>
    <span class="govuk-phase-banner__text">
      This is a Prototype - GOV.UK Prototype kit
    </span>
  </p>
</div>

{{ govukBackLink({
text: "Back",
href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form action="/form-handler" method="post" novalidate>
      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">
              Why did you not chose any of the providers listed?
            </h1>
          </legend>
          <div class="govuk-radios" data-module="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="suitability" name="suitability" type="radio"
                value="limited-information">
              <label class="govuk-label govuk-radios__label" for="suitability">
                Not enough information
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="suitability-2" name="suitability" type="radio"
                value="not-suitable">
              <label class="govuk-label govuk-radios__label" for="suitability-2">
                Not suitable
              </label>
            </div>
          </div>
        </fieldset>
      </div>
      <button type="submit" class="govuk-button" data-module="govuk-button">
        Continue
      </button>
    </form>
  </div>
</div>

{% endblock %}