{% extends "layout_cmadexit.html" %}




{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "exit2a"
  }) }}
{% endblock %}


{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">


<form action="exit4" method="post"  class="form">


  {% from "govuk/components/radios/macro.njk" import govukRadios %}

  {{ govukRadios({
    idPrefix: "notcomplete",
    name: "notcomplete",
    fieldset: {
      legend: {
        text: " I did not complete my apprenticeship because...",
        isPageHeading: true,
        classes: "govuk-fieldset__legend--l"
      }
    },

    hint: {
      text: "Please select one answer that is most relevant to you."
    },


    items: [

    

    {
      value: "i have already done something similar",
      text: "i have already done something similar"
  },

  {
      value: "i was offered another role within the organisation",
      text: "i was offered another role within the organisation"
  },

  {
      value: "i was offered another job outside of my organisation",
      text: "i was offered another job outside of my organisation"
  },



  {
      value: "i was released from employment or made redundant",
      text: "i was released from employment or made redundant"
  },
  {
    value: "it was not relevant to the job role",
    text: "it was not relevant to the job role"
},
{
  value: "of personal or health reasons",
  text: "of personal or health reasons"
},
      {
        value: "there was too much coursework",
        text: "there was too much coursework"
      },

      {
          value: "the training was difficult",
          text: "the training was difficult"
      }
      ,

      {
          value: "the job was difficult",
          text: "the job was difficult"
      },

      {
          value: "the quality of the training was poor",
          text: "the quality of the training was poor"
      },

      {
          value: "the training provider did not think I would pass the end point assessment",
          text: "the training provider did not think I would pass the end point assessment"
      },

      {
          value: "there was a delay in completing my end point assessment",
          text: "there was a delay in completing my end point assessment"
      },

      {
          value: "there was no career progression",
          text: "there was no career progression"
      },

      {
        value: "the salary did not meet my financial needs",
        text: "the salary did not meet my financial needs"
    },

    {
      divider: "or"
    },
    {
        value: "None of the above",
        text:  "None of the above"
    }

    ]
  }) }}








  <div class="govuk-button-group">
    {{ govukButton({
      text: "Continue"
    }) }}
  </div>

</form>


</div>
</div>

{% endblock %}