{% extends "layout_cmadexit.html" %}




{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "exit2a"
  }) }}
{% endblock %}


{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">


<form action="exit4" method="post"  class="form">


  {% from "govuk/components/radios/macro.njk" import govukRadios %}

  {{ govukRadios({
    idPrefix: "notcomplete",
    name: "notcomplete",
    fieldset: {
      legend: {
        text: " I did not complete my apprenticeship because...",
        isPageHeading: true,
        classes: "govuk-fieldset__legend--l"
      }
    },

    hint: {
      text: "Please select one answer that is most relevant to you."
    },


    items: [

    
    {
      value: "I did not want to remain",
      text: "I did not want to remain"
  },

    {
      value: "I have already done something similar",
      text: "I have already done something similar"
  },



  {
      value: "I was offered another job",
      text: "I was offered another job"
  },



  {
      value: "I was released from employment or made redundant",
      text: "I was released from employment or made redundant"
  },
  {
    value: "it was not relevant to the job role",
    text: "it was not relevant to the job role"
},
{
  value: "of personal or health reasons",
  text: "of personal or health reasons"
},
      
{
  value: "my training provider is no longer delivering apprenticeships",
  text: "my training provider is no longer delivering apprenticeships"
},
      {
          value: "the training was too difficult",
          text: "the training was too difficult"
      }
      ,

      {
          value: "the job was too difficult",
          text: "the job was too difficult"
      },

      {
          value: "the quality of the training was not what I expected",
          text: "the quality of the training was not what I expected"
      },

    
      {
          value: "there were issues with my end point assessment",
          text: "there were issues with my end point assessment"
      },

  
      {
        value: "the salary did not meet my financial needs",
        text: "the salary did not meet my financial needs"
    },

    {
      divider: "or"
    },
    {
        value: "None of the above",
        text:  "None of the above"
    }

    ]
  }) }}








  <div class="govuk-button-group">
    {{ govukButton({
      text: "Continue"
    }) }}
  </div>

</form>


</div>
</div>

{% endblock %}