{% extends "layout_cmadexit.html" %}




{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "exit4"
  }) }}
{% endblock %}


{% block content %}


<div class="govuk-grid-row">
<div class="govuk-grid-column-two-thirds">

<form action="exitcheck" method="post"  class="form">



  {% from "govuk/components/radios/macro.njk" import govukRadios %}

  {{ govukRadios({
    idPrefix: "remain",
    name: "remain",
    fieldset: {
      legend: {
        text: "Would any of the following have helped you to stay on?",
        isPageHeading: true,
        classes: "govuk-fieldset__legend--l"
      }
    },

    hint: {
      text: "Please select one answer that is most relevant to you."
    },


    items: [
    



      {
        value: "A higher salary",
        text: "A higher salary"
      },

      {
          value: "A mentor or learning coach",
          text: "A mentor or learning coach"
      }
      ,

      {
          value: "Being able to skip training I have already done",
          text: "Being able to skip training I have already done"
      }
,

{
  value: "Better training from my employer",
  text: "Better training from my employer"
},
{
  value: "Better training from my training provider",
  text: "Better training from my training provider"
},
      {
        value: "More support from my employer",
        text: "More support from my employer"
    },
    
    {
        value: "More support from my training provider",
        text: "More support from my training provider"
    },
    {
      value: "More information on the end-point assessment process",
      text: "More information on the end-point assessment process"
    },
    {
      value: "More time to undertake learning and training with my training provider",
      text: "More time to undertake learning and training with my training provider"
  },
      {
          value: "Outside support to tackle discrimination or other problems",
          text: "Outside support to tackle discrimination or other problems"
      },

     
   
      {
        value: "Reasonable adjustments from my training provider",
        text: "Reasonable adjustments from my training provider"
    },

      
      {
        divider: "or"
      },

      {
          value: "None of the above",
          text: "None of the above"
      }


    ]
  }) }}





  <div class="govuk-button-group">
    {{ govukButton({
      text: "Continue"
    }) }}
  </div>

</form>
</div>
</div>
{% endblock %}