{% extends "layout_cmadexit.html" %}



{% block content %}
<style>


.govuk-main-wrapper {
    display: block;
    margin-top:-20px;
}

</style>





<div class="govuk-width-container">
  <main class="govuk-main-wrapper govuk-main-wrapper--l" id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <div class="govuk-panel govuk-panel--confirmation">
          <h1 class="govuk-panel__title">
            Exit survey complete
          </h1>
          
        </div>
<br>
        <p class="govuk-body">Your feedback is important to us and will give us valuable information on why you did not complete your apprenticeship, it will also help us support future apprentices.
        <br><br>
      
        If you require any further information or advice on your next career steps or looking for a new apprenticeship, please visit the links below.

      </p>
       
        <h2 class="govuk-heading-m">What do you want to do next?</h2>

        <p class="govuk-body">
          Further advice and guidance around careers information<br>
          <a class="govuk-link--no-visited-state" href="https://nationalcareers.service.gov.uk" target="_blank">https://nationalcareers.service.gov.uk (opens in a new tab)</a></p>
       
          <p class="govuk-body">
            Find information about apprenticeship vacancies<br>
            <a class="govuk-link--no-visited-state" href="https://www.gov.uk/apply-apprenticeship" target="_blank">https://www.gov.uk/apply-apprenticeship (opens in a new tab)</a></p>

      
      </div>
    </div>
  </main>
</div>
{% endblock %}
