#home-boxes {
     display: flex;
     #home-boxes-left, #home-boxes-right {
          flex: 1;
          position: relative;
          padding-bottom: 3em;
          .govuk-button {
               position: absolute;
               bottom: 0;
               left: 0;
               margin-bottom: 0;
          }
     }
     #home-boxes-left {
          padding-right: 2em;
     }
     #home-boxes-right {
          border-left: 5px solid $govuk-border-colour;
          padding-left: 2em;
          .govuk-button {
               left: 1.45em;
          }
     }
}

.section-item {
     display: flex;
     box-shadow: 0px 0px 10px 0px rgba(11, 12, 12, 0.2);
     // border: 2px solid govuk-colour("light-grey");
     border-radius: 10px;
     // box-shadow: 0px 0px 10px 0px rgba(black,0.2);
     text-decoration: none;
     margin-bottom: 1.5em;
     &:last-of-type {
          margin: 0;
     }
     &:hover, &:focus, &:active {
          background: white;
          // background: govuk-colour("light-grey");
          //transition: all .3s ease;
          //transform: scale(1.05);

          // Darren : Zoom commented out on summary page
     }
     &.complete {
          border: 2px solid #cce2d8;
          .number {
               background: #cce2d8;
               color: #005a30;
          }
     }
     &.wrong {
          border: 2px solid #f6d7d2;
          .number {
               background: #f6d7d2;
               color: #942514;
          }
     }
     &.started {
          border: 2px solid #d2e2f1;
          .number {
               background: #d2e2f1;
               color: #144e81;
          }
     }
     .number {
          display: flex;
          align-items: center;
          justify-content: center;
          font-weight: bold;
          background: #f9f8f8;
          // background: govuk-colour("light-grey");
          // background: $govuk-link-colour;
          color: govuk-colour("dark-grey");
          width: 1.85em;
          height: 1.85em;
          float: left;
          margin: 0 0.25em 0 0;
          border-radius: 6px 0 0 6px;
          font-size: 2.5rem;
     }
     div {
          width: 100%;
          display: flex;
          align-items: center;
          padding: 0.5em 1.5em 0.5em 0.5em;
          .text-wrapper {
               display: inline-block;
               padding: 0;
               h3, span {
                    width: auto;
                    float: left;
                    clear: both;
               }
               h3 {
                    margin: 0;
                    text-decoration: underline;
                    color: $govuk-link-colour;
               }
               .govuk-caption-m {
                    // display: none;
                    b {
                         background: none;
                         font-weight: normal;
                         color: $govuk-secondary-text-colour;
                    }
               }
          }
          span {
               text-decoration: none;
          }
     }
}