{% extends "layout_cmadexit.html" %}




{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "exit2a"
  }) }}
{% endblock %}


{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">


<form action="exit4" method="post"  class="form">


  {% from "govuk/components/radios/macro.njk" import govukRadios %}

  {{ govukRadios({
    idPrefix: "notcomplete",
    name: "notcomplete",
    fieldset: {
      legend: {
        text: "What was your main reason for not completing your apprenticeship?",
        isPageHeading: true,
        classes: "govuk-fieldset__legend--l"
      }
    },

    hint: {
      text: "Please select one answer that is most relevant to you."
    },


    items: [

    
    {
      value: "I did not enjoy it",
      text: "I did not enjoy it"
  },

    {
      value: "I had personal or health reasons",
      text: "I had personal or health reasons"
  },



  {
      value: "I experienced discrimination or poor behaviour",
      text: "I experienced discrimination or poor behaviour"
  },



  {
      value: "I started another apprenticeship",
      text: "I started another apprenticeship"
  },
  {
    value: "I started another job",
    text: "I started another job"
},
{
  value: "I was made redundant",
  text: "I was made redundant"
},
      
{
  value: "The job was too difficult",
  text: "The job was too difficult"
},
      {
          value: "The job was not what I expected",
          text: "The job was not what I expected"
      }
      ,

      {
          value: "The salary did not meet my financial needs",
          text: "The salary did not meet my financial needs"
      },

      {
          value: "The training was repetitive",
          text: "The training was repetitive"
      },

    
      {
          value: "The training was too difficult",
          text: "The training was too difficult"
      },

  
      {
        value: "The training was of poor quality",
        text: "The training was of poor quality"
    },

    {
      value: "The training was not relevant to the job role",
      text: "The training was not relevant to the job role"
  },

  {
    value: "The training provider stopped delivering apprenticeships",
    text: "The training provider stopped delivering apprenticeships"
},
{
  value: "The training provider ended my apprenticeship",
  text: "The training provider ended my apprenticeship"
},
{
  value: "There were issues with my end point assessment",
  text: "There were issues with my end point assessment"
},
    {
      divider: "or"
    },
    {
        value: "None of the above",
        text:  "None of the above"
    }

    ]
  }) }}








  <div class="govuk-button-group">
    {{ govukButton({
      text: "Continue"
    }) }}
  </div>

</form>


</div>
</div>

{% endblock %}