{% extends "layout_cmad.html" %}

{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "appfeedback1"
  }) }}
{% endblock %}

{% block content %}

<form method="post" action="appfeedback3" class="form">

<div class="govuk-form-group">
  <fieldset class="govuk-fieldset" aria-describedby="changed-name-hint">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
      <h1 class="govuk-fieldset__heading">
        Organised and well-structured training
      </h1>
    </legend>
    <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="answer1-agree" name="answer1" type="radio" value="Agree" {{ checked("answer1", "Agree") }}>
        <label class="govuk-label govuk-radios__label" for="answer1-agree">
         Agree
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="answer1-disagree" name="answer1" type="radio" value="Disagree" {{ checked("answer1", "Disagree") }}>
        <label class="govuk-label govuk-radios__label" for="answer1-disagree">
         Disagree
        </label>
      </div>
  </fieldset>
</div>

<div class="govuk-form-group">
  <fieldset class="govuk-fieldset" aria-describedby="changed-name-hint">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
      <h1 class="govuk-fieldset__heading">
        Communicating clearly with you
      </h1>
    </legend>
    <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="answer2-agree" name="answer2" type="radio" value="Agree" {{ checked("answer2", "Agree") }}>
        <label class="govuk-label govuk-radios__label" for="answer2-agree">
         Agree
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="answer2-disagree" name="answer2" type="radio" value="Disagree" {{ checked("answer2", "Disagree") }}>
        <label class="govuk-label govuk-radios__label" for="answer2-disagree">
         Disagree
        </label>
      </div>
  </fieldset>
</div>
<div class="govuk-form-group">
  <fieldset class="govuk-fieldset" aria-describedby="changed-name-hint">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
      <h1 class="govuk-fieldset__heading">
        Providing accessible training resources
      </h1>
    </legend>
    <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="answer1-agree" name="answer1" type="radio" value="Agree" {{ checked("answer1", "Agree") }}>
        <label class="govuk-label govuk-radios__label" for="answer1-agree">
         Agree
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="answer1-disagree" name="answer1" type="radio" value="Disagree" {{ checked("answer1", "Disagree") }}>
        <label class="govuk-label govuk-radios__label" for="answer1-disagree">
         Disagree
        </label>
      </div>
  </fieldset>
</div>
<div class="govuk-form-group">
  <fieldset class="govuk-fieldset" aria-describedby="changed-name-hint">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
      <h1 class="govuk-fieldset__heading">
        Engaging and interesting training
      </h1>
    </legend>
    <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="answer1-agree" name="answer1" type="radio" value="Agree" {{ checked("answer1", "Agree") }}>
        <label class="govuk-label govuk-radios__label" for="answer1-agree">
         Agree
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="answer1-disagree" name="answer1" type="radio" value="Disagree" {{ checked("answer1", "Disagree") }}>
        <label class="govuk-label govuk-radios__label" for="answer1-disagree">
         Disagree
        </label>
      </div>
  </fieldset>
</div>

<div class="govuk-form-group">
  <fieldset class="govuk-fieldset" aria-describedby="changed-name-hint">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
      <h1 class="govuk-fieldset__heading">
        Helping you learn new skills and develop existing ones
      </h1>
    </legend>
    <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="answer1-agree" name="answer1" type="radio" value="Agree" {{ checked("answer1", "Agree") }}>
        <label class="govuk-label govuk-radios__label" for="answer1-agree">
         Agree
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="answer1-disagree" name="answer1" type="radio" value="Disagree" {{ checked("answer1", "Disagree") }}>
        <label class="govuk-label govuk-radios__label" for="answer1-disagree">
         Disagree
        </label>
      </div>
  </fieldset>
</div>

<div class="govuk-form-group">
  <fieldset class="govuk-fieldset" aria-describedby="changed-name-hint">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
      <h1 class="govuk-fieldset__heading">
        Relevant training that helps you perform your job better
      </h1>
    </legend>
    <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="answer1-agree" name="answer1" type="radio" value="Agree" {{ checked("answer1", "Agree") }}>
        <label class="govuk-label govuk-radios__label" for="answer1-agree">
         Agree
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="answer1-disagree" name="answer1" type="radio" value="Disagree" {{ checked("answer1", "Disagree") }}>
        <label class="govuk-label govuk-radios__label" for="answer1-disagree">
         Disagree
        </label>
      </div>
  </fieldset>
</div>

<div class="govuk-form-group">
  <fieldset class="govuk-fieldset" aria-describedby="changed-name-hint">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
      <h1 class="govuk-fieldset__heading">
        Supporting you and your apprenticeship
      </h1>
    </legend>
    <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="answer1-agree" name="answer1" type="radio" value="Agree" {{ checked("answer1", "Agree") }}>
        <label class="govuk-label govuk-radios__label" for="answer1-agree">
         Agree
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="answer1-disagree" name="answer1" type="radio" value="Disagree" {{ checked("answer1", "Disagree") }}>
        <label class="govuk-label govuk-radios__label" for="answer1-disagree">
         Disagree
        </label>
      </div>
  </fieldset>
</div>

<div class="govuk-form-group">
  <fieldset class="govuk-fieldset" aria-describedby="changed-name-hint">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
      <h1 class="govuk-fieldset__heading">
        Giving you your full 20% Off the Job training time
      </h1>
    </legend>
    <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="answer1-agree" name="answer1" type="radio" value="Agree" {{ checked("answer1", "Agree") }}>
        <label class="govuk-label govuk-radios__label" for="answer1-agree">
         Agree
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="answer1-disagree" name="answer1" type="radio" value="Disagree" {{ checked("answer1", "Disagree") }}>
        <label class="govuk-label govuk-radios__label" for="answer1-disagree">
         Disagree
        </label>
      </div>
  </fieldset>
</div>


<div class="govuk-form-group">
  <fieldset class="govuk-fieldset" aria-describedby="changed-name-hint">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
      <h1 class="govuk-fieldset__heading">
        Responding to your needs
      </h1>
    </legend>
    <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="answer1-agree" name="answer1" type="radio" value="Agree" {{ checked("answer1", "Agree") }}>
        <label class="govuk-label govuk-radios__label" for="answer1-agree">
         Agree
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="answer1-disagree" name="answer1" type="radio" value="Disagree" {{ checked("answer1", "Disagree") }}>
        <label class="govuk-label govuk-radios__label" for="answer1-disagree">
         Disagree
        </label>
      </div>
  </fieldset>
</div>

<div class="govuk-form-group">
  <fieldset class="govuk-fieldset" aria-describedby="changed-name-hint">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
      <h1 class="govuk-fieldset__heading">
        Fair and non-discriminatory treatment
      </h1>
    </legend>
    <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="answer1-agree" name="answer1" type="radio" value="Agree" {{ checked("answer1", "Agree") }}>
        <label class="govuk-label govuk-radios__label" for="answer1-agree">
         Agree
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="answer1-disagree" name="answer1" type="radio" value="Disagree" {{ checked("answer1", "Disagree") }}>
        <label class="govuk-label govuk-radios__label" for="answer1-disagree">
         Disagree
        </label>
      </div>
  </fieldset>
</div>

<div class="govuk-form-group">
  <fieldset class="govuk-fieldset" aria-describedby="changed-name-hint">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
      <h1 class="govuk-fieldset__heading">
        Looking after your mental wellbeing
      </h1>
    </legend>
    <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="answer1-agree" name="answer1" type="radio" value="Agree" {{ checked("answer1", "Agree") }}>
        <label class="govuk-label govuk-radios__label" for="answer1-agree">
         Agree
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="answer1-disagree" name="answer1" type="radio" value="Disagree" {{ checked("answer1", "Disagree") }}>
        <label class="govuk-label govuk-radios__label" for="answer1-disagree">
         Disagree
        </label>
      </div>
  </fieldset>
</div>

<div class="govuk-form-group">
  <fieldset class="govuk-fieldset" aria-describedby="changed-name-hint">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
      <h1 class="govuk-fieldset__heading">
        Safe and positive environment for you to learn in
      </h1>
    </legend>
    <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="answer1-agree" name="answer1" type="radio" value="Agree" {{ checked("answer1", "Agree") }}>
        <label class="govuk-label govuk-radios__label" for="answer1-agree">
         Agree
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="answer1-disagree" name="answer1" type="radio" value="Disagree" {{ checked("answer1", "Disagree") }}>
        <label class="govuk-label govuk-radios__label" for="answer1-disagree">
         Disagree
        </label>
      </div>
  </fieldset>
</div>

<div class="govuk-form-group">
  <fieldset class="govuk-fieldset" aria-describedby="changed-name-hint">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
      <h1 class="govuk-fieldset__heading">
        Safe and positive environment for you to learn in
      </h1>
    </legend>
    <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="answer1-agree" name="answer1" type="radio" value="Agree" {{ checked("answer1", "Agree") }}>
        <label class="govuk-label govuk-radios__label" for="answer1-agree">
         Agree
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="answer1-disagree" name="answer1" type="radio" value="Disagree" {{ checked("answer1", "Disagree") }}>
        <label class="govuk-label govuk-radios__label" for="answer1-disagree">
         Disagree
        </label>
      </div>
  </fieldset>
</div>


<div class="govuk-form-group">
  <fieldset class="govuk-fieldset" aria-describedby="changed-name-hint">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
      <h1 class="govuk-fieldset__heading">
        Preparing you for success in your future career
      </h1>
    </legend>
    <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="answer1-agree" name="answer1" type="radio" value="Agree" {{ checked("answer1", "Agree") }}>
        <label class="govuk-label govuk-radios__label" for="answer1-agree">
         Agree
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="answer1-disagree" name="answer1" type="radio" value="Disagree" {{ checked("answer1", "Disagree") }}>
        <label class="govuk-label govuk-radios__label" for="answer1-disagree">
         Disagree
        </label>
      </div>
  </fieldset>
</div>
<br>


<div class="govuk-button-group">
  {{ govukButton({
    text: "Continue",
    href: "appfeedback3"
  }) }}

  <a class="govuk-link--no-visited-state" href="appfeedback3">Skip these questions</a>
</div>
</form>











{% endblock %}
