{% extends "layout_cmad.html" %}

{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "appfeedback1"
  }) }}
{% endblock %}

{% block content %}
<main class="govuk-main-wrapper " id="main-content" role="main">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
<h1 class="govuk-heading-l">Tell us about South & City College</h1>

<h1 class="govuk-heading-m">Do you think that South & City College is providing the following aspects of your apprenticeship training to a reasonable standard?</h1>
<span class="govuk-caption-m">It’s optional. You can skip all of these questions.</span>

</div>
</div>
</main>
<br><br>



<form method="post" action="appfeedback4">

{{ govukRadios({
  classes: "govuk-radios--inline",
  idPrefix: "answer1",
  name: "answer1",
  fieldset: {
    legend: {
      text: "Organised and well-structured training",
      classes: "govuk-fieldset__legend--m"
    }
  },
  items: [
    {
      value: "Agree",
      text: "Agree"
    },
    {
      value: "Disagree",
      text: "Disagree"
    }
  ]
}) }}


{{ govukRadios({
  classes: "govuk-radios--inline",
  idPrefix: "answer2",
  name: "answer2",
  fieldset: {
    legend: {
      text: "Communicating clearly with you",
      classes: "govuk-fieldset__legend--m"
    }
  },
  items: [
    {
      value: "Agree",
      text: "Agree"
    },
    {
      value: "Disagree",
      text: "Disagree"
    }
  ]
}) }}





{{ govukRadios({
  classes: "govuk-radios--inline",
  idPrefix: "answer3",
  name: "answer3",
  fieldset: {
    legend: {
      text: "Providing accessible training resources",
      classes: "govuk-fieldset__legend--m"
    }
  },
  items: [
    {
      value: "Agree",
      text: "Agree"
    },
    {
      value: "Disagree",
      text: "Disagree"
    }
  ]
}) }}



{{ govukRadios({
  classes: "govuk-radios--inline",
  idPrefix: "answer4",
  name: "answer4",
  fieldset: {
    legend: {
      text: "Engaging and interesting training",
      classes: "govuk-fieldset__legend--m"
    }
  },
  items: [
    {
      value: "Agree",
      text: "Agree"
    },
    {
      value: "Disagree",
      text: "Disagree"
    }
  ]
}) }}



{{ govukRadios({
  classes: "govuk-radios--inline",
  idPrefix: "answer5",
  name: "answer5",
  fieldset: {
    legend: {
      text: "Helping you learn new skills and develop existing ones",
      classes: "govuk-fieldset__legend--m"
    }
  },
  items: [
    {
      value: "Agree",
      text: "Agree"
    },
    {
      value: "Disagree",
      text: "Disagree"
    }
  ]
}) }}




{{ govukRadios({
  classes: "govuk-radios--inline",
  idPrefix: "answer6",
  name: "answer6",
  fieldset: {
    legend: {
      text: "Relevant training that helps you perform your job better",
      classes: "govuk-fieldset__legend--m"
    }
  },
  items: [
    {
      value: "Agree",
      text: "Agree"
    },
    {
      value: "Disagree",
      text: "Disagree"
    }
  ]
}) }}


{{ govukRadios({
  classes: "govuk-radios--inline",
  idPrefix: "answer7",
  name: "answer7",
  fieldset: {
    legend: {
      text: "Supporting you and your apprenticeship",
      classes: "govuk-fieldset__legend--m"
    }
  },
  items: [
    {
      value: "Agree",
      text: "Agree"
    },
    {
      value: "Disagree",
      text: "Disagree"
    }
  ]
}) }}



{{ govukRadios({
  classes: "govuk-radios--inline",
  idPrefix: "answer8",
  name: "answer8",
  fieldset: {
    legend: {
      text: "Giving you your full 20% Off the Job training time",
      classes: "govuk-fieldset__legend--m"
    }
  },
  items: [
    {
      value: "Agree",
      text: "Agree"
    },
    {
      value: "Disagree",
      text: "Disagree"
    }
  ]
}) }}


{{ govukRadios({
  classes: "govuk-radios--inline",
  idPrefix: "answer9",
  name: "answer9",
  fieldset: {
    legend: {
      text: "Responding to your needs",
      classes: "govuk-fieldset__legend--m"
    }
  },
  items: [
    {
      value: "Agree",
      text: "Agree"
    },
    {
      value: "Disagree",
      text: "Disagree"
    }
  ]
}) }}



{{ govukRadios({
  classes: "govuk-radios--inline",
  idPrefix: "answer10",
  name: "answer10",
  fieldset: {
    legend: {
      text: "Fair and non-discriminatory treatment",
      classes: "govuk-fieldset__legend--m"
    }
  },
  items: [
    {
      value: "Agree",
      text: "Agree"
    },
    {
      value: "Disagree",
      text: "Disagree"
    }
  ]
}) }}


{{ govukRadios({
  classes: "govuk-radios--inline",
  idPrefix: "answer11",
  name: "answer11",
  fieldset: {
    legend: {
      text: "Looking after your mental wellbeing",
      classes: "govuk-fieldset__legend--m"
    }
  },
  items: [
    {
      value: "Agree",
      text: "Agree"
    },
    {
      value: "Disagree",
      text: "Disagree"
    }
  ]
}) }}


{{ govukRadios({
  classes: "govuk-radios--inline",
  idPrefix: "answer12",
  name: "answer12",
  fieldset: {
    legend: {
      text: "Safe and positive environment for you to learn in",
      classes: "govuk-fieldset__legend--m"
    }
  },
  items: [
    {
      value: "Agree",
      text: "Agree"
    },
    {
      value: "Disagree",
      text: "Disagree"
    }
  ]
}) }}


{{ govukRadios({
  classes: "govuk-radios--inline",
  idPrefix: "answer13",
  name: "answer13",
  fieldset: {
    legend: {
      text: "Preparing you for success in your future career",
      classes: "govuk-fieldset__legend--m"
    }
  },
  items: [
    {
      value: "Agree",
      text: "Agree"
    },
    {
      value: "Disagree",
      text: "Disagree"
    }
  ]
}) }}


<br><br>




<div class="govuk-button-group">
  {{ govukButton({
    text: "Continue",
    href: "appfeedback3"
  }) }}

  <a class="govuk-link--no-visited-state" href="appfeedback3">Skip these questions</a>
</div>
</form>


{% endblock %}
