{% extends "layout_cmad.html" %}

{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "appfeedback2"
  }) }}
{% endblock %}

{% block content %}
<main class="govuk-main-wrapper " id="main-content" role="main">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      
<form method="post" action="appfeedback4" >


{{ govukRadios({
  idPrefix: "rating",
  name: "rating",
  fieldset: {
    legend: {
      text: "How would you rate South & City College's training?",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--l"
    }
  },
  items: [
    {
      value: "Excellent",
      text: "Excellent"
    },
    {
      value: "Good",
      text: "Good"
    },
    {
      value: "Poor",
      text: "Poor"
    },
    {
      value: "verypoor",
      text: "Very Poor"
    }
  ]
}) }}


<br>


{{ govukButton({
  text: "Continue",
  href: "appfeedback4"
}) }}

</form>

</div>
</div>
</main>
{% endblock %}
