{% extends "layout_cmad.html" %}


{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "appfeedback3"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

      <h1 class="govuk-heading-l">Check your answers</h1>



      <h2 class="govuk-heading-m">Training provider: South & City College</h2>

      {{ govukSummaryList({
        classes: 'govuk-!-margin-bottom-9',
        rows: [
          {
            key: {
              text: "Previous application number"
            },
            value: {
              text: "502135326"
            },
            actions: {
              items: [
                {
                  href: "appfeedback2",
                  text: "Change",
                  visuallyHiddenText: "previous application number",
                  classes:"govuk-link--no-visited-state"
                }
              ]
            }
          },
          {
            key: {
              text: "Overall rating"
            },
            value: {
              text: "Excellent"
            },
            actions: {
              items: [
                {
                  href: "appfeedback3",
                  text: "Change",
                  visuallyHiddenText: "overall rating",
                  classes:"govuk-link--no-visited-state"
                }
              ]
            }
          }
        ]
      }) }}


     

      

{{ govukCheckboxes({
  idPrefix: "organisation",
  name: "organisation",
  classes: "govuk-checkboxes--small",
  fieldset: {
    legend: {
      text: "",
      classes: "govuk-fieldset__legend--m"
    }
  },
  items: [
    {
      value: "anonymously",
      text: "My answers can be used anonymously by The Apprenticeship Service to help improve my training provider's apprenticeship training"
    },
    {
      value: "happy",
      text: "I'm happy to be contacted by The Apprenticeship Service about my answers"
    }
  ]
}) }}

      <form action="appfeedback5" method="post">

        <input type="hidden" name="answers-checked" value="true">

        {{ govukButton({
          text: "Submit"
        }) }}

      </form>

    </div>
  </div>
{% endblock %}

