{% extends "layout_cmad.html" %}

{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "appfeedback1"
  }) }}
{% endblock %}

{% block content %}
<h1 class="govuk-heading-l">Tell us about South & City College</h1>

<h1 class="govuk-heading-m">Do you think that South & City College is providing the following aspects of your apprenticeship training to a reasonable standard?</h1>
<span class="govuk-caption-m">It’s optional. You can skip any of these questions.</span>



<br><br>

{% from "govuk/components/radios/macro.njk" import govukRadios %}


<form action="appfeedback3" method="post">

{{ govukRadios({
  classes: "govuk-radios--inline",
  idPrefix: "changed-name",
  name: "changed-name",
  fieldset: {
    legend: {
      text: "Organised and well-structured training",
      classes: "govuk-fieldset__legend--m"
    }
  },
  items: [
    {
      value: "Agree",
      text: "Agree"
    },
    {
      value: "Disagree",
      text: "Disagree"
    }
  ]
}) }}


{% from "govuk/components/radios/macro.njk" import govukRadios %}

{{ govukRadios({
  classes: "govuk-radios--inline",
  idPrefix: "changed-name",
  name: "changed-name",
  fieldset: {
    legend: {
      text: "Communicating clearly with you",
      classes: "govuk-fieldset__legend--m"
    }
  },
  items: [
    {
      value: "Agree",
      text: "Agree"
    },
    {
      value: "Disagree",
      text: "Disagree"
    }
  ]
}) }}

{% from "govuk/components/radios/macro.njk" import govukRadios %}

{{ govukRadios({
  classes: "govuk-radios--inline",
  idPrefix: "changed-name",
  name: "changed-name",
  fieldset: {
    legend: {
      text: "Providing accessible training resources",
      classes: "govuk-fieldset__legend--m"
    }
  },
  items: [
    {
      value: "Agree",
      text: "Agree"
    },
    {
      value: "Disagree",
      text: "Disagree"
    }
  ]
}) }}

{% from "govuk/components/radios/macro.njk" import govukRadios %}

{{ govukRadios({
  classes: "govuk-radios--inline",
  idPrefix: "changed-name",
  name: "changed-name",
  fieldset: {
    legend: {
      text: "Engaging and interesting training",
      classes: "govuk-fieldset__legend--m"
    }
  },
  items: [
    {
      value: "Agree",
      text: "Agree"
    },
    {
      value: "Disagree",
      text: "Disagree"
    }
  ]
}) }}

{% from "govuk/components/radios/macro.njk" import govukRadios %}

{{ govukRadios({
  classes: "govuk-radios--inline",
  idPrefix: "changed-name",
  name: "changed-name",
  fieldset: {
    legend: {
      text: "Helping you learn new skills and develop existing ones",
      classes: "govuk-fieldset__legend--m"
    }
  },
  items: [
    {
      value: "Agree",
      text: "Agree"
    },
    {
      value: "Disagree",
      text: "Disagree"
    }
  ]
}) }}

{% from "govuk/components/radios/macro.njk" import govukRadios %}

{{ govukRadios({
  classes: "govuk-radios--inline",
  idPrefix: "changed-name",
  name: "changed-name",
  fieldset: {
    legend: {
      text: "Relevant training that helps you perform your job better",
      classes: "govuk-fieldset__legend--m"
    }
  },
  items: [
    {
      value: "Agree",
      text: "Agree"
    },
    {
      value: "Disagree",
      text: "Disagree"
    }
  ]
}) }}


{% from "govuk/components/radios/macro.njk" import govukRadios %}

{{ govukRadios({
  classes: "govuk-radios--inline",
  idPrefix: "changed-name",
  name: "changed-name",
  fieldset: {
    legend: {
      text: "Supporting you and your apprenticeship",
      classes: "govuk-fieldset__legend--m"
    }
  },
  items: [
    {
      value: "Agree",
      text: "Agree"
    },
    {
      value: "Disagree",
      text: "Disagree"
    }
  ]
}) }}

{% from "govuk/components/radios/macro.njk" import govukRadios %}

{{ govukRadios({
  classes: "govuk-radios--inline",
  idPrefix: "changed-name",
  name: "changed-name",
  fieldset: {
    legend: {
      text: "Giving you your full 20% Off the Job training time",
      classes: "govuk-fieldset__legend--m"
    }
  },
  items: [
    {
      value: "Agree",
      text: "Agree"
    },
    {
      value: "Disagree",
      text: "Disagree"
    }
  ]
}) }}

{% from "govuk/components/radios/macro.njk" import govukRadios %}

{{ govukRadios({
  classes: "govuk-radios--inline",
  idPrefix: "changed-name",
  name: "changed-name",
  fieldset: {
    legend: {
      text: "Responding to your needs",
      classes: "govuk-fieldset__legend--m"
    }
  },
  items: [
    {
      value: "Agree",
      text: "Agree"
    },
    {
      value: "Disagree",
      text: "Disagree"
    }
  ]
}) }}

{% from "govuk/components/radios/macro.njk" import govukRadios %}

{{ govukRadios({
  classes: "govuk-radios--inline",
  idPrefix: "changed-name",
  name: "changed-name",
  fieldset: {
    legend: {
      text: "Fair and non-discriminatory treatment",
      classes: "govuk-fieldset__legend--m"
    }
  },
  items: [
    {
      value: "Agree",
      text: "Agree"
    },
    {
      value: "Disagree",
      text: "Disagree"
    }
  ]
}) }}


{% from "govuk/components/radios/macro.njk" import govukRadios %}

{{ govukRadios({
  classes: "govuk-radios--inline",
  idPrefix: "changed-name",
  name: "changed-name",
  fieldset: {
    legend: {
      text: "Looking after your mental wellbeing",
      classes: "govuk-fieldset__legend--m"
    }
  },
  items: [
    {
      value: "Agree",
      text: "Agree"
    },
    {
      value: "Disagree",
      text: "Disagree"
    }
  ]
}) }}


{% from "govuk/components/radios/macro.njk" import govukRadios %}

{{ govukRadios({
  classes: "govuk-radios--inline",
  idPrefix: "changed-name",
  name: "changed-name",
  fieldset: {
    legend: {
      text: "Safe and positive environment for you to learn in",
      classes: "govuk-fieldset__legend--m"
    }
  },
  items: [
    {
      value: "Agree",
      text: "Agree"
    },
    {
      value: "Disagree",
      text: "Disagree"
    }
  ]
}) }}


{% from "govuk/components/radios/macro.njk" import govukRadios %}

{{ govukRadios({
  classes: "govuk-radios--inline",
  idPrefix: "changed-name",
  name: "changed-name",
  fieldset: {
    legend: {
      text: "Preparing you for success in your future career",
      classes: "govuk-fieldset__legend--m"
    }
  },
  items: [
    {
      value: "Agree",
      text: "Agree"
    },
    {
      value: "Disagree",
      text: "Disagree"
    }
  ]
}) }}


<br><br>


{% from "govuk/components/button/macro.njk" import govukButton %}

{{ govukButton({
  text: "Continue"
}) }}

</form>

{% endblock %}
