{% extends "layout_cmad.html" %}




{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "exit6"
  }) }}
{% endblock %}


{% block content %}


<div class="govuk-grid-row">
<div class="govuk-grid-column-two-thirds">

<form action="exitcheck" method="post"  class="form">



  {% from "govuk/components/radios/macro.njk" import govukRadios %}

  {{ govukRadios({
    idPrefix: "remain",
    name: "remain",
    fieldset: {
      legend: {
        text: "I would have remained on the apprenticeship if…",
        isPageHeading: true,
        classes: "govuk-fieldset__legend--l"
      }
    },

    hint: {
      text: "Please select the answer that is most relevant to you."
    },


    items: [


      {
        value: "I had more support and guidance from my employer",
        text: "I had more support and guidance from my employer"
      },

      {
          value: "I had more support and guidance from my training provider",
          text: "I had more support and guidance from my training provider"
      }
      ,

      {
          value: "The employer gave me more time to undertake learning and training",
          text: "The employer gave me more time to undertake learning and training"
      },

      {
          value: "The employer provided me with the training they were meant to",
          text: "The employer provided me with the training they were meant to"
      },

      {
          value: "The training provider delivered better quality training",
          text: "The training provider delivered better quality training"
      },

      {
          value: "There was a mentor or learning coach within or outside of my organisation",
          text: "There was a mentor or learning coach within or outside of my organisation"
      },

      {
          value: "I had more information on how it would be assessed at end point assessment",
          text: "I had more information on how it would be assessed at end point assessment"
      },
      {
        divider: "or"
      },

      {
          value: "I did not want to remain",
          text: "I did not want to remain"
      }


    ]
  }) }}





  <div class="govuk-button-group">
    {{ govukButton({
      text: "Continue"
    }) }}
  </div>

</form>
</div>
</div>
{% endblock %}