{% extends "layout_cmad.html" %}




{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "exit4"
  }) }}
{% endblock %}


{% block content %}




<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

<form action="exit6" method="post"  class="form">


  {% from "govuk/components/radios/macro.njk" import govukRadios %}

  {{ govukRadios({
    idPrefix: "reason",
    name: "reason",
    fieldset: {
      legend: {
        text: "The main reason I did an apprenticeship was because…",
        isPageHeading: true,
        classes: "govuk-fieldset__legend--l"
      }
    },

    hint: {
      text: "Please select one answer that is most relevant to you."
    },


    items: [


      {
        value: "I had a specific career path in mind ",
        text: "I had a specific career path in mind "
      },

      {
          value: "I did not want to go to university",
          text: "I did not want to go to university"
      }
      ,

      {
          value: "I wanted to gain work experience in industry whilst receiving an income",
          text: "I wanted to gain work experience in industry whilst receiving an income"
      },

      {
          value: "It was a requirement for my job",
          text: "It was a requirement for my job"
      },

      {
          value: "I didn’t know what else to do",
          text: "I didn’t know what else to do"
      }



    ]
  }) }}



  <div class="govuk-button-group">
    {{ govukButton({
      text: "Continue"
    }) }}
  </div>

</form>
</div>
</div>

{% endblock %}