{% extends "layout_cmadexit.html" %}

{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/button/macro.njk" import govukButton %}



{% block content %}



<style>
   .govuk-main-wrapper {
    padding-top:20px;
   }
</style>


<div class="govuk-width-container">

    
        <main class="govuk-main-wrapper " id="main-content" role="main">
            
            

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        

        <h1 class="govuk-heading-l">You do not need to answer any further questions</h1>

      
            <p class="govuk-body">   Please contact your training provider and employer to ensure they have submitted the most up to date information regarding you and your apprenticeship. 
            </p>
            <p class="govuk-body">   Thank you for taking the time to help us.
 
            </p>
       

    </div>
</div>


        </main>
    </div>










{% endblock %}
