
{% extends "layout.html" %}

{% block pageTitle %}
{% endblock %}
{% block content %}


<!-- Main content starts -->

<div class="govuk-grid-row">
     <div class="govuk-grid-column-two-thirds">
          <h1 class="govuk-heading-xl">
               <!--<span class="govuk-tag">ALPHA</span><br>-->
               Welcome to the {{serviceName}} prototype library
          </h1>
     </div>
</div>

<!-- Sprints section starts -->
<div class="govuk-grid-row">

     <div class="govuk-grid-column-two-thirds">
          {% include './sprint-53/_summary.html' %}

          {% include './sprint-50/_summary.html' %}

          <h2 class="govuk-heading-l govuk-!-margin-top-9">
               Previous sprints and archive
          </h2>
          {# {% set pastsprintbetaHtml %}
          {% include './past-sprint/_summary.html' %}
          {% endset %} #}


          {{ govukAccordion({
               id: "accordion-default",
               items: [
               
               {
                    heading: {
                         text: "PAST SPRINT"
                    },
                    content: {
                         html: pastsprintbetaHtml
                    },
                    summary: {
                         html: '16 Mar — 30 Mar 2022'
                    }
               }
               ]
          }) }}

     </div>
  <!-- Sprints section ends -->
</div>

<div class="govuk-grid-row">
     <h2 class="govuk-heading-l govuk-!-margin-top-9">
          Design history
     </h2>
     <p class="govuk-body"><a href="design-history" class="govuk-link">View history from Oct 2021 - Apr 2022</a></p>

</div>

<!-- Main content ends -->
{% endblock %}