<h2 class="govuk-heading-l">
     Sprint 53
</h2>

<p class="govuk-body"><a href="sprint-53/" class="govuk-link">View Sprint 53</a></p>

<div class="govuk-grid-row govuk-!-margin-bottom-7">
     <div class="govuk-grid-column-full">
          <h3 class="govuk-heading-m">
               Beta
          </h3>


          {{ govukDetails({
          summaryText: "Sprint design goals",
          html: "<table class='govuk-table'>
               <thead class='govuk-table__head'>
                    <tr class='govuk-table__row'>
                         <th scope='col' class='govuk-table__header'>What we're doing</th>
                         <th scope='col' class='govuk-table__header'>Why we're doing it</th>
                    </tr>
               </thead>
               <tbody class='govuk-table__body'>
                    <tr class='govuk-table__row'>
                         <td class='govuk-table__cell'>Analyse the current training provider request
                              review process</td>
                         <td class='govuk-table__cell'>Better understand the existing pain points and challenges facing
                              training providers</td>
                    </tr>
               </tbody>
          </table>"
          }) }}



     </div>
</div>